{% extends "base.html" %}

  {% block heading %}
  <div class="container"> 
    <h1>Project Management!</h1>
    <div class="wrap">
        <h5><a href={% url 'create' %} class="btn-floating btn-large pulse pink darken-1"><i class="material-icons">add_circle</i></a></h5>
        <h5><a href={% url 'list' %} class="btn-floating pink darken-1"><i class="material-icons">format_list_bulleted</i></a></h5>
    </div>
  </div>
  <div class="container">
      <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>    </th>
                </tr>
                <tr>
                    <th><i class="material-icons">edit</i></th>
                    <th>Identification Number</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'profile' project.pk project.slug %}">{{ project }} </a> </td>
                        <td><a href="{% url 'update_project' project.pk project.slug %}"><i class="">{{ project.id_num}}</i></a></td>
                        <td><a><i class="">{{ project.owner}}</i></a></td>
                        </tr>
                {% endfor %}
        </table>
  </div>
  {% endblock heading %}