{% extends "base.html" %}

  {% block heading %}
    <div class="container">
        <h1>List of Projects!</h1>
    </div>
  {% endblock heading %}

  {% block content %}
  <div class="container">
       <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <th><i class="material-icons">edit</i></th>
                    <th>Subproject</th>
                    <th>members</th>
                </tr>
            </thead>
            <tbody>
                {% for project in object_list %}
                    <tr>
                        <td><a href="{% url 'profile' project.pk project.slug %}">{{ project }} </a> </td>
                        <td><a><i class="material-icons">loupe</i></a></td>
                        <td><a><i class="material-icons">person_add</i></a></td>
                        </tr>
                {% endfor %}
        </table>
  </div>

  {% endblock content %}
