{% extends "base.html" %}

  {% block heading %}
    <div class="container">
        <h1>List of Projects!</h1>
    </div>
  {% endblock heading %}

  {% block content %}
  <div class="container">
       <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>    </th>
                </tr>
                <tr>
                    <th><i class="material-icons">edit</i></th>
                    <th>Identification Number</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                {% for project in object_list %}
                    <tr>
                        <td><a href="{% url 'profile' project.pk project.slug %}">{{ project }} </a> </td>
                        <td><a><i class="">{{ project.id_num}}</i></a></td>
                        <td><a><i class="">{{ project.owner}}</i></a></td>
                        </tr>
                {% endfor %}
        </table>
  </div>

  {% endblock content %}


{% comment %} This to still add includes pagination {% endcomment %}